* {
    background-color: darkslategray;
    color: beige;
    font-family: Sans-serif;
}

.container {
    text-align: center;
    text-decoration: none;
}

ul, ol {
    display: inline-block;
    text-align: left;
}